@using Bussines.Abstract
@{
    ViewData["Title"] = "Istanbul-Shoes Ecommerce | Home";
}
@model List<GetProductUIDTO>

      <!-- ****** Top Discount Area Start ****** -->
        <section class="top-discount-area d-md-flex align-items-center">
  

            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Free Shipping &amp; Returns</h5>
                <h6><a href="#">BUY NOW</a></h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>20% Discount for all dresses</h5>
                <h6>USE CODE: Colorlib</h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>20% Discount for students</h5>
                <h6>USE CODE: Colorlib</h6>
            </div>
        </section>
        <!-- ****** Top Discount Area End ****** -->

        <!-- ****** Welcome Slides Area Start ****** -->
        <section class="welcome_area">
            <div class="welcome_slides owl-carousel">
                <!-- Single Slide Start -->
                <div class="single_slide height-800 bg-img background-overlay" style="background-image: url(/Assets/img/bg-img/bg-1.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <div class="welcome_slide_text">
                                    <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">* Only today we offer free shipping</h6>
                                    <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Fashion Trends</h2>
                                    <a href="#" class="btn karl-btn" data-animation="fadeInUp" data-delay="1s" data-duration="500ms">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Slide Start -->
                <div class="single_slide height-800 bg-img background-overlay" style="background-image: url(/Assets/img/bg-img/bg-4.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <div class="welcome_slide_text">
                                    <h6 data-animation="fadeInDown" data-delay="0" data-duration="500ms">* Only today we offer free shipping</h6>
                                    <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Summer Collection</h2>
                                    <a href="#" class="btn karl-btn" data-animation="fadeInLeftBig" data-delay="1s" data-duration="500ms">Check Collection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Slide Start -->
                <div class="single_slide height-800 bg-img background-overlay" style="background-image: url(/Assets/img/bg-img/bg-2.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <div class="welcome_slide_text">
                                    <h6 data-animation="fadeInDown" data-delay="0" data-duration="500ms">* Only today we offer free shipping</h6>
                                    <h2 data-animation="bounceInDown" data-delay="500ms" data-duration="500ms">Women Fashion</h2>
                                    <a href="#" class="btn karl-btn" data-animation="fadeInRightBig" data-delay="1s" data-duration="500ms">Check Collection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ****** Welcome Slides Area End ****** -->
@{
    GetProductUIDTO singleProduct = new GetProductUIDTO();
    GetProductUIDTO singleProduct2 = new GetProductUIDTO();

    foreach (var item in Model)
    {
        if (item.CreatedDate > singleProduct.CreatedDate)
        {
            singleProduct.ProductID = item.ProductID;
            singleProduct.ProductName = item.ProductName;
            singleProduct.ProductCode = item.ProductCode;
            singleProduct.ProductDescription = item.ProductDescription;
            singleProduct.Product_Size = item.Product_Size;
            singleProduct.Product_Category = item.Product_Category;
            singleProduct.PicturesUrls = item.PicturesUrls;
            singleProduct.CreatedDate = item.CreatedDate;
            singleProduct.Price = item.Price;
            singleProduct.DisCount = item.DisCount;
            singleProduct.Color = item.Color;
        }

        if (item.DisCount > singleProduct2.DisCount)
        {
            singleProduct2.ProductID = item.ProductID;
            singleProduct2.ProductName = item.ProductName;
            singleProduct2.ProductCode = item.ProductCode;
            singleProduct2.ProductDescription = item.ProductDescription;
            singleProduct2.Product_Size = item.Product_Size;
            singleProduct2.Product_Category = item.Product_Category;
            singleProduct2.PicturesUrls = item.PicturesUrls;
            singleProduct2.CreatedDate = item.CreatedDate;
            singleProduct2.Price = item.Price;
            singleProduct2.DisCount = item.DisCount;
            singleProduct2.Color = item.Color;
        }

    }

    if (singleProduct.ProductName is null )
    {
        singleProduct = Model.FirstOrDefault();
    }
    if (singleProduct2.ProductName is null)
    {
        singleProduct2 = Model[1];


    }
}
        <!-- ****** Top Catagory Area Start ****** -->
        <section class="top_catagory_area d-md-flex clearfix">
            <!-- Single Catagory -->
    <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url('@singleProduct2.PicturesUrls[0]');">
                <div class="catagory-content">
            <h6>@singleProduct2.ProductName Məhsulda Böyük Endirim!</h6>
                    <h2>Endirim
                @Html.Raw(((singleProduct2.Price-singleProduct2.DisCount) / singleProduct2.Price) * 100)
                    %</h2>
            <a asp-controller="productdetail" asp-action="index" asp-route-Id="@singleProduct2.ProductID" class="btn karl-btn">İndi Al</a>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url('@singleProduct.PicturesUrls[0]');">
                <div class="catagory-content">
                    <h6>Yeni Məhsul: @singleProduct.ProductName</h6>
                    <h2>@singleProduct.ProductDescription</h2>
            <a asp-controller="productdetail" asp-action="index" asp-route-Id="@singleProduct.ProductID" class="btn karl-btn">İndi Al</a>
                </div>
            </div>
        </section>
        <!-- ****** Top Catagory Area End ****** -->
@foreach (var item in Model)
{
   
        <!-- ****** Quick View Modal Area Start ****** -->
        <div class="modal fade" id="@item.ProductID" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                        @if (item.PicturesUrls.Count != 0 )
                                        {

                                            <img src="@item.PicturesUrls[0]" alt="">
                                        }
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">@item.ProductDescription</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                   
                                        @if (item.DisCount>0)
                                            {

                                            <h5 class="price">
                                                          @item.DisCount &#x20BC
                                                          <span>@item.Price &#x20BC </span>
                                            </h5>
                                        }
                                        else
                                        {
                                            <h5 class="price">
                                               @item.Price &#x20BC 
                                            </h5>
                                        }

                                    <p>@item.ProductDescription</p>
                                    <a asp-controller="ProductDetail" asp-route-Id="@item.ProductID">View Full Product Details</a>
                                </div>
                                
                                <!-- Add to Cart Form -->
                                <form class="cart row" method="post" id="form_@item.ProductID" >
                                    
                                        <div class="widget size mb-50 col-12">
                                            <h6 class="widget-title">Size</h6>
                                            <div class="widget-desc">
                                                <ul>
                                                    
                                                    @foreach (var size in item.Product_Size)
                                                    {
                                                        @if (size.Value > 0)
                                                        {
                                                            <li>
                                                                <a id="sizeSelected_@item.ProductID" onclick="SelectSize(this,@size.Key)" href="#">@size.Key</a>
                                                               
                                                            
                                                              <div id="quantity" class="quantity">

                                                                    <input size="@size.Key" onchange="SizeCountSelect(this,`@size.Key`,`@item.ProductID`)" type="number" class="qty-text d-none" id="qty" step="1" min="0" max="@size.Value" name="quantity" value="0">
                                                                
                                                            </div> 
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li><s>@size.Key</s>
                                                                <div id="quantity" class="quantity">

                                                                    <input size="@size.Key" disabled type="number" class="qty-text d-none" id="qty" step="1" min="0" max="@size.Value" name="quantity" value="0">

                                                                </div>
                                                            </li>
                                                        }
                                                      
                                                    }
                                                 
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="#" data-dismiss="modal" onclick="ProductModal('@item.ProductID')" name="addtocart" value="5" class="cart-submit" style="display: flex;justify-content: center; align-items: center;">Add to cart</a>
                                    
                                        <!-- Wishlist -->
                                    
                                    <div class="modal_pro_wishlist">
                                            <a href="wishlist.html"  target="_blank"><i class="ti-heart"></i></a>
                                    </div>
                                  
                                </form>

                                <div class="share_wf mt-30">
                                    <p>Share With Friend</p>
                                    <div class="_icon">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        <!-- ****** Quick View Modal Area End ****** -->

}

        <!-- ****** New Arrivals Area Start ****** -->
        <section class="new_arrivals_area section_padding_100_0 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_heading text-center">
                            <h2>New Arrivals</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="karl-projects-menu mb-100">
        <div class="text-center portfolio-menu">
            <button class="btn active" data-filter="*">ALL</button>

            @foreach (CategoryGetDTO category in ViewBag.Categories)
            {

                <button class="btn" data-filter=".@category.CategoryName">@category.CategoryName</button>
               
            }

        </div>
            </div>

            <div class="container">
                <div class="row karl-new-arrivals">
                    @foreach (var product in Model)
            {

                <div class="col-12 col-sm-6 col-md-4 single_gallery_item @string.Join(" ", product.Product_Category) wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Product Image -->
                        <div class="product-img">
                        @if (product.PicturesUrls.Count!=0)
                        {
                            
                            <img src="@product.PicturesUrls[0]" alt="">
                        }
                            <div class="product-quicview" style="cursor:pointer;">
                                <a  data-toggle="modal" data-target="#@product.ProductID"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                        <h4 class="product-price">@product.Price &#x20BC</h4>
                            <p>@product.ProductName</p>
                          
                        </div>
                    </div>

            }
                   
                </div>
            </div>
        </section>
        <!-- ****** New Arrivals Area End ****** -->

        <!-- ****** Offer Area Start ****** -->
        <section class="offer_area height-700 section_padding_100 bg-img" style="background-image: url(/Assets/img/bg-img/bg-5.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-end justify-content-end">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                            <h2>White t-shirt <span class="karl-level">Hot</span></h2>
                            <p>* Free shipping until 25 Dec 2017</p>
                            <div class="offer-product-price">
                                <h3><span class="regular-price">&#x20BC25.90</span> &#x20BC 15.90</h3>
                            </div>
                            <a href="#" class="btn karl-btn mt-30">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ****** Offer Area End ****** -->

        <!-- ****** Popular Brands Area Start ****** -->
        <section class="karl-testimonials-area section_padding_100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_heading text-center">
                            <h2>Testimonials</h2>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-8">
                        <div class="karl-testimonials-slides owl-carousel">

                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial-area text-center">
                                <span class="quote">"</span>
                                <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. </h6>
                                <div class="testimonial-info d-flex align-items-center justify-content-center">
                                    <div class="tes-thumbnail">
                                        <img src="~/Assets/img/bg-img/tes-1.jpg" alt="">
                                    </div>
                                    <div class="testi-data">
                                        <p>Michelle Williams</p>
                                        <span>Client, Los Angeles</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial-area text-center">
                                <span class="quote">"</span>
                                <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. </h6>
                                <div class="testimonial-info d-flex align-items-center justify-content-center">
                                    <div class="tes-thumbnail">
                                        <img src="~/Assets/img/bg-img/tes-1.jpg" alt="">
                                    </div>
                                    <div class="testi-data">
                                        <p>Michelle Williams</p>
                                        <span>Client, Los Angeles</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial-area text-center">
                                <span class="quote">"</span>
                                <h6>Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. </h6>
                                <div class="testimonial-info d-flex align-items-center justify-content-center">
                                    <div class="tes-thumbnail">
                                        <img src="~/Assets/img/bg-img/tes-1.jpg" alt="">
                                    </div>
                                    <div class="testi-data">
                                        <p>Michelle Williams</p>
                                        <span>Client, Los Angeles</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- ****** Popular Brands Area End ****** -->
   
        @section scripts{

        <script>
     
    </script>
        }
     