
@{
    ViewData["Title"] = "Istanbul-Shoes Ecommerce | Home";
}
@model List<GetProductUIDTO>

      <!-- ****** Top Discount Area Start ****** -->
        <section class="top-discount-area d-md-flex align-items-center">
  

            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Free Shipping &amp; Returns</h5>
                <h6><a href="#">BUY NOW</a></h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>20% Discount for all dresses</h5>
                <h6>USE CODE: Colorlib</h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>20% Discount for students</h5>
                <h6>USE CODE: Colorlib</h6>
            </div>
        </section>
        <!-- ****** Top Discount Area End ****** -->

        <!-- ****** Welcome Slides Area Start ****** -->
        <section class="welcome_area">
            <div class="welcome_slides owl-carousel">
                @foreach (var item in Model)
        {
            if (item.DisCount>0)
            {
                decimal discount = item.Price - item.DisCount;

                <!-- Single Slide Start -->
                <div class="single_slide height-800 bg-img background-overlay" style="background-image: url('@item.PicturesUrls[0]');">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <div class="welcome_slide_text">
                                    @if (item.ExpareDateDisCount>DateTime.Now)
                                    {
                                        
                                    <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">* Endirim İlə @discount &#x20BC </h6>
                                    }
                                    <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">@item.ProductName</h2>
                                    <a asp-controller="productdetail" asp-action="index" asp-route-id="@item.ProductID" class="btn karl-btn" data-animation="fadeInUp" data-delay="1s" data-duration="500ms">Indi Al</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        }

           

         
            </div>
        </section>
        <!-- ****** Welcome Slides Area End ****** -->
@{
    GetProductUIDTO singleProduct = new GetProductUIDTO();
    GetProductUIDTO singleProduct2 = new GetProductUIDTO();

    foreach (var item in Model)
    {
        if (item.CreatedDate > singleProduct.CreatedDate)
        {
            singleProduct.ProductID = item.ProductID;
            singleProduct.ExpareDateDisCount = item.ExpareDateDisCount;
            singleProduct.ProductName = item.ProductName;
            singleProduct.ProductCode = item.ProductCode;
            singleProduct.ProductDescription = item.ProductDescription;
            singleProduct.Product_Size = item.Product_Size;
            singleProduct.Product_Category = item.Product_Category;
            singleProduct.PicturesUrls = item.PicturesUrls;
            singleProduct.CreatedDate = item.CreatedDate;
            singleProduct.Price = item.Price;
            singleProduct.DisCount = item.DisCount;
            singleProduct.Color = item.Color;
        }
        if (item.DisCount==0||item.ExpareDateDisCount<DateTime.Now)
        {
            continue;
        }
        if (singleProduct2.Price==0)
        {
            singleProduct2.ProductID = item.ProductID;
            singleProduct2.ProductName = item.ProductName;
            singleProduct2.ProductCode = item.ProductCode;
            singleProduct2.ProductDescription = item.ProductDescription;
            singleProduct2.Product_Size = item.Product_Size;
            singleProduct2.Product_Category = item.Product_Category;
            singleProduct2.PicturesUrls = item.PicturesUrls;
            singleProduct2.CreatedDate = item.CreatedDate;
            singleProduct2.Price = item.Price;
            singleProduct2.DisCount = item.DisCount;
            singleProduct2.Color = item.Color;

        }
    
        if (100-((item.Price-item.DisCount) / item.Price) * 100 >100- ((singleProduct2.Price- singleProduct2.DisCount) / singleProduct2.Price) * 100)
        {
            singleProduct2.ProductID = item.ProductID;
            singleProduct2.ProductName = item.ProductName;
            singleProduct2.ProductCode = item.ProductCode;
            singleProduct2.ProductDescription = item.ProductDescription;
            singleProduct2.Product_Size = item.Product_Size;
            singleProduct2.Product_Category = item.Product_Category;
            singleProduct2.PicturesUrls = item.PicturesUrls;
            singleProduct2.CreatedDate = item.CreatedDate;
            singleProduct2.Price = item.Price;
            singleProduct2.DisCount = item.DisCount;
            singleProduct2.Color = item.Color;
        }

    }

  
}
        <!-- ****** Top Catagory Area Start ****** -->
        <section class="top_catagory_area d-md-flex clearfix">
            <!-- Single Catagory -->
    <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url('@singleProduct2.PicturesUrls[0]');">
                <div class="catagory-content">
            <h6>@singleProduct2.ProductName Məhsulda Böyük Endirim!</h6>
                    <h2>Endirim
                @Html.Raw(100-((singleProduct2.Price-singleProduct2.DisCount) / singleProduct2.Price) * 100)
                    %</h2>
            <a asp-controller="productdetail" asp-action="index" asp-route-Id="@singleProduct2.ProductID" class="btn karl-btn">İndi Al</a>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url('@singleProduct.PicturesUrls[0]');">
                <div class="catagory-content">
                    <h6>Yeni Məhsul: @singleProduct.ProductName</h6>
                    <h2>@singleProduct.ProductDescription</h2>
            <a asp-controller="productdetail" asp-action="index" asp-route-Id="@singleProduct.ProductID" class="btn karl-btn">İndi Al</a>
                </div>
            </div>
        </section>
        <!-- ****** Top Catagory Area End ****** -->
@foreach (var item in Model)
{
   
        <!-- ****** Quick View Modal Area Start ****** -->
        <div class="modal fade" id="@item.ProductID" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                        @if (item.PicturesUrls.Count != 0 )
                                        {

                                            <img src="@item.PicturesUrls[0]" alt="">
                                        }
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">@item.ProductDescription</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                   
                                        @if (item.DisCount>0 && item.ExpareDateDisCount>DateTime.Now)
                                            {
                                            decimal disCount2 = item.Price - item.DisCount;
                                            <h5 class="price">
                                                @disCount2 &#x20BC
                                                          <span>@item.Price &#x20BC </span>
                                            </h5>
                                        }
                                        else
                                        {
                                            <h5 class="price">
                                               @item.Price &#x20BC 
                                            </h5>
                                        }

                                    <p>@item.ProductDescription</p>
                                    <a asp-controller="ProductDetail" asp-route-Id="@item.ProductID">View Full Product Details</a>
                                </div>
                                
                                <!-- Add to Cart Form -->
                                <form class="cart row" method="post" id="form_@item.ProductID" >
                                    
                                        <div class="widget size mb-50 col-12">
                                            <h6 class="widget-title">Size</h6>
                                            <div class="widget-desc">
                                                <ul>
                                                    
                                                    @foreach (var size in item.Product_Size)
                                                    {
                                                        @if (size.Value > 0)
                                                        {
                                                            <li>
                                                                <a id="sizeSelected_@item.ProductID" onclick="SelectSize(this,@size.Key)" href="#">@size.Key</a>
                                                               
                                                            
                                                              <div id="quantity" class="quantity">

                                                                    <input size="@size.Key" onchange="SizeCountSelect(this,`@size.Key`,`@item.ProductID`)" type="number" class="qty-text d-none" id="qty" step="1" min="0" max="@size.Value" name="quantity" value="0">
                                                                
                                                            </div> 
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li><s>@size.Key</s>
                                                                <div id="quantity" class="quantity">

                                                                    <input size="@size.Key" disabled type="number" class="qty-text d-none" id="qty" step="1" min="0" max="@size.Value" name="quantity" value="0">

                                                                </div>
                                                            </li>
                                                        }
                                                      
                                                    }
                                                 
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="#" data-dismiss="modal" onclick="ProductModal('@item.ProductID')" name="addtocart" value="5" class="cart-submit" style="display: flex;justify-content: center; align-items: center;">Add to cart</a>
                                    
                                        <!-- Wishlist -->
                                    
                                    <div class="modal_pro_wishlist">
                                            <a href="wishlist.html"  target="_blank"><i class="ti-heart"></i></a>
                                    </div>
                                  
                                </form>

                                <div class="share_wf mt-30">
                                    <p>Share With Friend</p>
                                    <div class="_icon">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        <!-- ****** Quick View Modal Area End ****** -->

}

        <!-- ****** New Arrivals Area Start ****** -->
        <section class="new_arrivals_area section_padding_100_0 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_heading text-center">
                            <h2>New Arrivals</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="karl-projects-menu mb-100">
        <div class="text-center portfolio-menu">
            <button class="btn active" data-filter="*">ALL</button>

            @foreach (CategoryGetDTO category in ViewBag.Categories)
            {

                <button class="btn" data-filter=".@category.CategoryName">@category.CategoryName</button>
               
            }

        </div>
            </div>

            <div class="container">
                <div class="row karl-new-arrivals">
                    @foreach (var product in Model)
            {

                <div class="col-12 col-sm-6 col-md-4 single_gallery_item @string.Join(" ", product.Product_Category) wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Product Image -->
                        <div class="product-img">
                        @if (product.PicturesUrls.Count!=0)
                        {
                            
                            <img src="@product.PicturesUrls[0]" alt="">
                        }
                            <div class="product-quicview" style="cursor:pointer;">
                                <a  data-toggle="modal" data-target="#@product.ProductID"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">

                        @if (product.DisCount > 0 && product.ExpareDateDisCount>DateTime.Now)
                        {
                            decimal disCount2 = product.Price - product.DisCount;
                            <h5 class="price">
                                @disCount2 &#x20BC
                                <s>@product.Price &#x20BC </s>
                            </h5>
                        }
                        else
                        {
                            <h5 class="price">
                                @product.Price &#x20BC
                            </h5>
                        }
                            <p>@product.ProductName</p>
                          
                        </div>
                    </div>

            }
                   
                </div>
            </div>
        </section>
        <!-- ****** New Arrivals Area End ****** -->
@{
    GetProductUIDTO getProductUIDTO = new GetProductUIDTO();
    getProductUIDTO = Model.First();
    foreach (var item in Model)
    {
        if (item.DisCount != 0  && getProductUIDTO.ExpareDateDisCount>DateTime.Now && getProductUIDTO.ExpareDateDisCount<item.ExpareDateDisCount ) 
        {
            getProductUIDTO.ProductID = item.ProductID;
            getProductUIDTO.ExpareDateDisCount = item.ExpareDateDisCount;
            getProductUIDTO.ProductName = item.ProductName;
            getProductUIDTO.ProductCode = item.ProductCode;
            getProductUIDTO.ProductDescription = item.ProductDescription;
            getProductUIDTO.Product_Size = item.Product_Size;
            getProductUIDTO.Product_Category = item.Product_Category;
            getProductUIDTO.PicturesUrls = item.PicturesUrls;
            getProductUIDTO.CreatedDate = item.CreatedDate;
            getProductUIDTO.Price = item.Price;
            getProductUIDTO.DisCount = item.DisCount;
            getProductUIDTO.Color = item.Color;
        }


    }



    decimal disCount = getProductUIDTO.Price - getProductUIDTO.DisCount;

  }

        <!-- ****** Offer Area Start ****** -->
<section class="offer_area height-700 section_padding_100 bg-img" style="background-image: url('@getProductUIDTO.PicturesUrls[0]');">
            <div class="container h-100">
                <div class="row h-100 align-items-end justify-content-end">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                    <h2>@getProductUIDTO.ProductName <span class="karl-level">ŞOK ENDİRİM</span></h2>
                    <p>* Endirimin Bitmə Tarixi @getProductUIDTO.ExpareDateDisCount.ToString("dd MMM yyyy", new CultureInfo("az-AZ"))</p>
                            <div class="offer-product-price">
                    
                     
                        <h3><span class="regular-price"> &#x20BC @getProductUIDTO.Price</span> &#x20BC @disCount</h3>
                            </div>
                    <a asp-controller="productdetail" asp-action="index" asp-route-id="@getProductUIDTO.ProductID" class="btn karl-btn mt-30">Indi Al</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ****** Offer Area End ****** -->

    
   
        @section scripts{

        <script>
     
    </script>
        }
     