@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "_DashboardLayout";
    var counter = 0;
}
<div asp-validation-summary="All" class="text text-danger"></div>
<table id="example" class="display" style="width:100%">
    <div class="mx-auto"><a class="btn btn-outline-success" asp-controller="Role" asp-action="create">Create Role</a></div>
    <thead>

        <tr>
            <td>#</td>
            <td>Role Name</td>
            <td>Actions</td>
            <td>Actions Info</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            counter++;
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <div class="modal" id=@item.Id tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Info</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>@item.Name adli Role silinsinmi?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="modalClose('@item.Id')" class="btn btn-success @item.Id btn-secondary" data-bs-dismiss="modal">No</button>
                                <a type="button" asp-area="dashboard" asp-controller="role" asp-action="Delete" asp-route-roleId="@item.Id" class="btn btn-danger">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <td>  <button onclick="Roledlt('@item.Id')" class="btn btn-danger">Delete</button> <a class="btn btn-warning mx-3" asp-area="dashboard" asp-controller="roles" asp-action="Edit" asp-route-roleId="@item.Id">Edit</a></td>
                <td>#</td>
            </tr>
        }
    </tbody>
</table>
<script>
    new DataTable('#example');

    var modals = document.querySelectorAll(`.modal`)
    var modal_close_btn = document.querySelectorAll('.btn-closemodal')


    function Roledlt(userId) {
        var modal = document.getElementById(`${userId}`)
        modal.classList.add("d-block")

    };
    function modalClose(modalId) {
        var modalclos = document.getElementById(`${modalId}`)

        modalclos.classList.remove("d-block")

    }

</script>