<!DOCTYPE html>
<html lang="en" @* oncontextmenu=" return false" *@>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Favicon  -->
    @* <link rel="icon" href="~/Assets/img/core-img/favicon.ico"> *@

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Assets/css/core-style.css">
    <link rel="stylesheet" href="~/Assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap link -->
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> *@
    <!-- Responsive CSS -->
    <link href="~/Assets/css/responsive.css" rel="stylesheet">

</head>

<body>
    <div class="catagories-side-menu d-none">
        <!-- Close Icon -->
        <div id="sideMenuClose">
            <i class="ti-close"></i>
        </div>
        <!--  Side Nav  -->
        <div class="nav-side-menu">
            <div class="menu-list">
                <h6>Categories</h6>
                <ul id="menu-content" class="menu-content collapse out">
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#women" class="collapsed active">
                        <a href="#">Woman wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="women">
                            <li><a href="#">Midi Dresses</a></li>
                            <li><a href="#">Maxi Dresses</a></li>
                            <li><a href="#">Prom Dresses</a></li>
                            <li><a href="#">Little Black Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#man" class="collapsed">
                        <a href="#">Man Wear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="man">
                            <li><a href="#">Man Dresses</a></li>
                            <li><a href="#">Man Black Dresses</a></li>
                            <li><a href="#">Man Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#kids" class="collapsed">
                        <a href="#">Children <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="kids">
                            <li><a href="#">Children Dresses</a></li>
                            <li><a href="#">Mini Dresses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#bags" class="collapsed">
                        <a href="#">Bags &amp; Purses <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="bags">
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Purses</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                        <a href="#">Eyewear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="eyewear">
                            <li><a href="#">Eyewear Style 1</a></li>
                            <li><a href="#">Eyewear Style 2</a></li>
                            <li><a href="#">Eyewear Style 3</a></li>
                        </ul>
                    </li>
                    <!-- Single Item -->
                    <li data-toggle="collapse" data-target="#footwear" class="collapsed">
                        <a href="#">Footwear <span class="arrow"></span></a>
                        <ul class="sub-menu collapse" id="footwear">
                            <li><a href="#">Footwear 1</a></li>
                            <li><a href="#">Footwear 2</a></li>
                            <li><a href="#">Footwear 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="wrapper">

        <!-- ****** Header Area Start ****** -->
        <header class="header_area">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-between">

                        <div class="col-12 col-lg-6 h-100" >
                            <div class="top_single_area d-flex align-items-center h-100">
                                <!-- Logo Area -->
                                <div class="top_logo ">
                                    <a href="#"><img src="~/Assets/img/core-img/logo.png"></a>
                                </div>
                                <!-- Cart & Menu Area -->
                                <div class="header-cart-menu  w-80 d-flex align-items-baseline ml-auto">
                                    <!-- Cart Area -->

                                    <div class="cart" onclick="UpdateCartItem()">
                                        <a href="#" id="header-cart-btn" target="_blank"><span class="cart_quantity">0</span> <i class="ti-bag"></i> <span class="your_bag_lang">  @_localization.GetKey("yourBag"): </span> <span class="total_price_icon">0</span>$</a>
                                        <!-- Cart List Area Start -->
                                        <ul class="cart-list">
                                          
                                          
                                            <li class="total">
                                                <span class="pull-right"><span class="total_price_Lang">@_localization.GetKey("TotalPrice")</span>:$<span class="total_price">0.00</span> </span>
                                                <a href="cart" class="btn btn-sm btn-cart">Cart</a>
                                                <a href="checkout" class="btn btn-sm btn-checkout">Checkout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                            
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="header-right-side-menu ml-15 d-flex align-items-center justify-content-around ">
                                <a href="#" class="d-none" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>

                                @if (User.Identity.IsAuthenticated)
                                {


                                    <div class="dropdown">
                                        <button style="background-color:#FF084E;" class="btn btn-outline-info" type="button" id="sideMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.Name
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item" href="dashboard/home">Admin Panel</a>
                                                <a class="dropdown-item" href="auth/logout">Log Out</a>
                                            }
                                            else
                                            {

                                                <a class="dropdown-item" href="#">LogOut</a>
                                                <a class="dropdown-item" href="#">Edit Profile</a>
                                            }

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a id="sideMenuBtn" style="cursor:pointer;" href="auth/login">

                                        <i class="text-white ti-shift-right"></i>
                                    </a>

                                }

                                <div class="dropdown show ms-1" style="">
                                    <a class="btn btn-secondary dropdown-toggle" style="background-color:#FF084E;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-solid fa-globe"></i>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <ul>
                                            <li>
                                                <a asp-controller="Home"
                                                   asp-action="ChangeLanguage"
                                                   asp-route-culture="en-Us"
                                                   class="dropdown-item">
                                                    <i class="flag-icon flag-icon-gb"></i> English
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Home"
                                                   asp-action="ChangeLanguage"
                                                   asp-route-culture="ru-Ru"
                                                   class="dropdown-item">
                                                    <i class="flag-icon flag-icon-gb"></i> Rus
                                                </a>
                                                <a asp-controller="Home"
                                                   asp-action="ChangeLanguage"
                                                   asp-route-culture="az"
                                                   class="dropdown-item">
                                                    <i class="flag-icon flag-icon-gb"></i> AZ
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                <a href="#"><span class="karl-level">Share</span> <i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                       
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                            <li class="nav-item active"><a class="nav-link" asp-controller="Home">@_localization.GetKey("Home").Value</a></li>

                                                                        
                                            
                                            <li class="nav-item">  <a class="nav-link" asp-controller="Shop">@_localization.GetKey("Shop").Value</a></li>
                                            <li class="nav-item">   <a class="nav-link" asp-controller="Cart">@_localization.GetKey("Cart").Value</a></li>
                                            <li class="nav-item"><a class="nav-link" asp-controller="Contactus">@_localization.GetKey("Contactus").Value</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                            <div class="help-line">
                                <a href="tel:+994552784344"><i class="ti-headphone-alt"></i> +994 55 278 43 44</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->
        @RenderBody();
        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                <img src="~/Assets/img/core-img/logo.png" alt="">
                            </div>
                            <div class="copywrite_text d-flex align-items-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Subscribe to our newsletter</h6>
                            </div>
                            <div class="subscribtion_form">
                                <form action="#" method="post">
                                    <input type="email" name="mail" class="mail" placeholder="Your email here">
                                    <button type="submit" class="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>

                <!-- Footer Bottom Area Start -->
                <div class="footer_bottom_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer_social_area text-center">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>
    <!-- /.wrapper end -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="~/Assets/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    @RenderSection("scripts");
    <!-- Plugins js -->
    <script src="~/Assets/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Assets/js/active.js"></script>
    <script>
        $(document).ready(UpdateCartItem())
        function UpdateCartItem() {
            
            $.ajax({
                url: `/addtocart/getcartdata`,
                type: 'GET',
                success: function (e) {
                    $("#header-cart-btn .cart_quantity").text(`${e[2]}`)
                    $(".pull-right .total_price").text(`${e[1]}`)
                    $(".total_price_icon").text(`${e[1]}`)
                    console.log(JSON.parse(e[0]))
                    var newItems = JSON.parse(e[0]);

                    newItems.forEach((item) => {

                       
                        if (!$(".cart-list").find(`[data-product-id="${item.Id}"][data-product-size="${item.Size}"]`).length) {
                           
                            $(".cart-list").append(`<li data-product-id="${item.Id}" data-product-size=${item.Size}>
                        <a href="${item.Id}" class="image"><img src="${item.PhotoUrl}" class="cart-thumb" alt=""></a>
                                 <div class="cart-item-desc">
                                                            <h6><a href="#">${item.ProductName}</a></h6>
                                                                    <p>${item.Size}-${item.Quantity}x - <span class="price">${item.Price}Azn</span></p>
                                                        </div>
                        <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                    </li>`);
                        }
                    });
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            })
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@

</body>

</html>