
@model List<GetSoldProducts>
<table id="example" class="table table-striped table-responsive-md table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Məhsul Adı</th>
            <th scope="col">Məhsul Codu</th>
            <th scope="col">Ölçü</th>
            <th scope="col">Sayı</th>
            <th scope="col">Qiyməti</th>
            <th scope="col">Satış Tarixi</th>
            <th scope="col">Çek Nömrəsi</th>

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            int counter = i + 1;
            <tr scope="row">
                <th >@counter</th>
                <th>@Model[i].ProductName</th>
                <th>@Model[i].ProductCode</th>
                <th>@Model[i].Size</th>
                <th>@Model[i].Count</th>
                <th>@Model[i].Amount</th>
                <th>@Model[i].SoldDate</th>
                <th>@Model[i].OrderNumber</th>

            </tr>
        }

    </tbody>
    <tfoot>
       <tr>
            <th scope="col">#</th>
            <th scope="col">Məhsul Adı</th>
            <th scope="col">Məhsul Codu</th>
            <th scope="col">Ölçü</th>
            <th scope="col">Sayı</th>
            <th scope="col">Qiyməti</th>
            <th scope="col">Satış Tarixi</th>
            <th scope="col">Çek Nömrəsi</th>
       </tr>
    </tfoot>
</table>
@section scripts{
    <script>

        new DataTable('#example');

    </script>
}